@charset "UTF-8";
/* Reset and base styles */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;900&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Impact;
  src: url("./fonts/Impact.ttf");
}
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  background-color: #1b1a17;
  font-family: "Montserrat", sans-serif;
  color: #f0e3ca;
  font-size: 16px;
  font-family: "Inconsolata";
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1244px) {
  .container {
    width: 662px;
  }
}
@media (max-width: 661px) {
  .container {
    width: 413px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.section-title h2.gradient-line {
  background-position: center bottom 10px;
  background-size: 110% 8px;
}
@media (max-width: 1199px) {
  .section-title h2.gradient-line {
    background-position: center bottom 6px;
  }
}
@media (max-width: 899px) {
  .section-title h2.gradient-line {
    background-position: center bottom 4px;
  }
}

.section-title--small p.gradient-line {
  background-position: center bottom 5px;
  background-size: 110% 6px;
}
@media (max-width: 1199px) {
  .section-title--small p.gradient-line {
    background-position: center bottom 2px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
}
@media (max-width: 1244px) {
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
@media (max-width: 661px) {
  .header .container {
    display: none;
  }
}
.header__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 522px;
  align-items: center;
}
@media (max-width: 1244px) {
  .header__content {
    flex-direction: column;
    row-gap: 22px;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 64px;
}
.header .header__mobile-menu {
  display: none;
}
@media (max-width: 661px) {
  .header .header__mobile-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header .mobile-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: rgba(27, 26, 23, 0.9);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  transition: transform 0.5s ease-in-out;
}
.header .mobile-menu.active {
  transform: translateY(0);
}
.header .mobile-menu .header__menu-list {
  flex-direction: column;
  text-align: center;
  row-gap: 64px;
}
.header .logo {
  z-index: 2;
}

.preview {
  padding-top: 72.5px;
  padding-bottom: 72.5px;
}
@media (max-width: 1244px) {
  .preview {
    padding-bottom: 128px;
    padding-top: 128px;
  }
}

.preview__content {
  display: flex;
  column-gap: 137px;
  align-items: center;
}
@media (max-width: 1244px) {
  .preview__content {
    flex-direction: column;
    row-gap: 64px;
  }
}

.preview__avatar {
  width: 629px;
  height: 575px;
  position: relative;
}
@media (max-width: 661px) {
  .preview__avatar {
    width: 413px;
    height: 430px;
  }
}

.about-me {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-me__content {
  display: flex;
  align-items: center;
  column-gap: 32px;
  justify-content: center;
}
.about-me__content > * {
  flex-shrink: 0;
}
@media (max-width: 661px) {
  .about-me__content {
    flex-direction: column;
    row-gap: 32px;
  }
}

.about-me__picture {
  width: 101px;
  height: 101px;
}

.about-me__discription {
  width: 904px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
}
@media (max-width: 1244px) {
  .about-me__discription {
    font-weight: 500;
    width: 451px;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media (max-width: 661px) {
  .about-me__discription {
    width: 322px;
    font-weight: 500;
  }
}

.skills {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skills__row-cards {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}
@media (max-width: 1244px) {
  .skills__row-cards {
    width: 632px;
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
@media (max-width: 661px) {
  .skills__row-cards {
    width: 285px;
    flex-wrap: wrap;
    row-gap: 16px;
    margin: 0 auto;
  }
}

.my-works {
  padding-top: 64px;
  padding-bottom: 64px;
}

.my-works__row-cards {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}
@media (max-width: 1244px) {
  .my-works__row-cards {
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
  }
}

.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer {
  padding-bottom: 64px;
  padding-top: 64px;
}

.footer__content {
  display: flex;
  column-gap: 64px;
  justify-content: center;
}
@media (max-width: 1244px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }
}
@media (max-width: 661px) {
  .footer__content {
    row-gap: 74px;
  }
}

.footer__copyright {
  width: 213px;
}
@media (max-width: 1244px) {
  .footer__copyright {
    width: 339px;
  }
}

.footer__copyright-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
}

.contact-form {
  padding-top: 64px;
  padding-bottom: 64px;
}

.author {
  width: 448px;
}
@media (max-width: 661px) {
  .author {
    width: 314px;
  }
}

.author__wrapper-main-title {
  margin-bottom: 14px;
}
@media (max-width: 661px) {
  .author__wrapper-main-title {
    margin-bottom: 16px;
  }
}

.author__wrapper-main-subtitle {
  margin-bottom: 14px;
}
@media (max-width: 661px) {
  .author__wrapper-main-subtitle {
    margin-bottom: 16px;
  }
}

.author__disc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
}
@media (max-width: 661px) {
  .author__disc {
    font-size: 24px;
  }
}

.avatar {
  width: 374px;
  height: 371px;
  position: absolute;
  top: 15%;
  left: 15%;
}
@media (max-width: 661px) {
  .avatar {
    width: 278.139px;
    height: 276.266px;
    flex-shrink: 0;
  }
}

.avatar__img {
  border-radius: 30% 70% 70% 30%/30% 47% 53% 70%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.avatar__shadow {
  width: 374px;
  height: 371px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30% 70% 70% 30%/30% 47% 53% 70%;
}
@media (max-width: 661px) {
  .avatar__shadow {
    width: 278.139px;
    height: 276.266px;
    flex-shrink: 0;
  }
}

.avatar__shadow--first-shadow {
  background-color: rgb(87, 30, 132);
  transform: rotate(31deg);
  z-index: 2;
}

.avatar__shadow--second-shadow {
  background-color: rgb(240, 227, 202);
  transform: rotate(-24deg);
  z-index: 1;
}

.main-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.05;
  color: #571E84;
}
@media (max-width: 661px) {
  .main-title {
    font-size: 40px;
    font-weight: 900;
  }
}

.main-subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.05;
}
@media (max-width: 661px) {
  .main-subtitle {
    font-size: 32px;
    font-weight: 700;
  }
}

.wrapper-section-title {
  text-align: center;
  margin-bottom: 32px;
}

.context-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #571E84;
}

.wrapper-info-title {
  margin-bottom: 16px;
}

.wrapper-footer-title {
  margin-bottom: 16px;
}
@media (max-width: 1244px) {
  .wrapper-footer-title {
    text-align: center;
  }
  .wrapper-footer-title .context-title {
    font-family: Impact;
  }
}

.skill-card {
  width: 200px;
  height: 300px;
  flex-shrink: 0;
}
.skill-card__front, .skill-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1s;
}
.skill-card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  padding-top: 59px;
  background-color: #1f1e1b;
  border-radius: 10px;
}
@media (max-width: 661px) {
  .skill-card__front {
    flex-direction: row;
    column-gap: 16px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.skill-card__back {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(70, 18, 155, 0.616);
  transform: perspective(600px) rotateY(180deg);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}
.skill-card.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg) !important;
  z-index: 3;
  min-width: 500px;
  min-height: 400px;
}
@media (max-width: 661px) {
  .skill-card.active {
    min-width: 90%;
    min-height: 50vh;
  }
}
.skill-card.active .skill-card__front {
  transform: perspective(600px) rotateY(-180deg);
}
.skill-card.active .skill-card__back {
  transform: perspective(600px) rotateY(0deg);
}
.skill-card__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  transition: 1s;
}
.skill-card__close:hover {
  transform: rotate(540deg);
}
@media (max-width: 661px) {
  .skill-card {
    width: 285px;
    height: 60px;
  }
}
@media (max-width: 661px) {
  .skill-card .skill-card__image {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .skill-card .skill-card__image svg {
    width: 32px;
    height: 32px;
  }
}
.skill-card .context-button {
  min-width: 157px;
}
.skill-card__image-item {
  transition: fill 500ms;
}
.skill-card__image {
  margin-bottom: 15px;
}
.skill-card:hover .skill-card__image-item {
  transition: fill 500ms;
}
.skill-card:hover .skill-card__image-item--html {
  fill: #FC490B;
}
.skill-card:hover .skill-card__image-item--css {
  fill: #2196F4;
}
.skill-card:hover .skill-card__image-item--js {
  fill: #FFDF00;
}
.skill-card:hover .skill-card__image-item--scss {
  fill: #CA669B;
}
.skill-card:hover .skill-card__image-item--git {
  fill: #F25234;
}
.skill-card:hover .context-button {
  transition: border-color 500ms;
}
.skill-card:hover .context-button--css {
  border-color: #2196F4;
}
.skill-card:hover .context-button--html {
  border-color: #FC490B;
}
.skill-card:hover .context-button--js {
  border-color: #FFDF00;
}
.skill-card:hover .context-button--scss {
  border-color: #CA669B;
}
.skill-card:hover .context-button--git {
  border-color: #F25234;
}
.skill-card__discription {
  font-family: "Roboto Mono", monospace;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.context-button {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  border: 4px solid transparent;
  border-radius: 10px;
  transition: border-color 500ms;
}
@media (max-width: 661px) {
  .context-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 6px;
  }
}

.context-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 39px;
  background: #32312E;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.project-card:hover .project-card__info {
  top: 0;
  transition: top 500ms;
}

.project-card__image img {
  width: 320px;
  height: 320px;
}

.project-card__info {
  position: absolute;
  top: -100%;
  left: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  border-radius: 15px;
  background: rgba(33, 32, 29, 0.98);
  transition: top 500ms;
}

.project-card__info-top {
  border-bottom: 1px solid #571E84;
  padding-bottom: 16px;
}

.project-card__info-stack {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.0625;
}

.project-card__info-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.0625;
  padding-top: 16px;
}

.project-card__info-disc {
  width: 219px;
  margin-bottom: 16px;
}
.project-card__info-disc p:not(:last-child) {
  margin-bottom: 16px;
}

.project-card__action {
  text-align: center;
}

.social-links {
  width: 384px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 48px;
}
@media (max-width: 661px) {
  .social-links {
    flex-direction: column;
    align-items: center;
  }
}

.social {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.social:nth-child(3) {
  margin-right: 60px;
}
@media (max-width: 661px) {
  .social {
    min-width: 204px;
  }
  .social:nth-child(1) {
    order: 1;
  }
  .social:nth-child(2) {
    order: 3;
  }
  .social:nth-child(3) {
    margin-right: 0;
    order: 2;
  }
  .social:nth-child(4) {
    order: 4;
  }
}

.social-img svg {
  width: 32px;
  height: 32px;
}

.social-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #571E84;
}

.wrapper-logo {
  margin-bottom: 16px;
}

.footer .logo svg {
  width: 160px;
  height: 44px;
}
@media (max-width: 1244px) {
  .footer .logo svg {
    margin: 0 auto;
  }
}

.burger.active .burger__line {
  background-color: transparent;
}
.burger.active .burger__line::after {
  top: 0;
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(45deg);
}
.burger.active .burger__line::before {
  top: 0;
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(-45deg);
}

.burger__line {
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  position: relative;
  z-index: 2;
}
.burger__line::before, .burger__line::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  transition: transform 0.2s, top 0.2s 0.2s;
  transform: rotate(deg);
}
.burger__line::after {
  top: 8px;
}
.burger__line::before {
  top: -8px;
}

.slider {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  background-color: #1f1e1b;
  border-radius: 20px;
  margin: 0 10px;
}

.slider__top {
  display: flex;
  align-items: center;
}

.avatarka {
  position: relative;
  width: 90px;
  height: 90px;
  background-image: url(../img/prevew/marker.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.avatarka__wrapper-img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30% 70% 70% 30%/30% 47% 53% 70%;
  overflow: hidden;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatarka__wrapper-icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.user-info__job {
  color: rgb(165, 165, 165);
}

.slider__review {
  text-align: center;
  letter-spacing: 1px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 10px;
}
.slick-dots button {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  background-color: #f0e3ca;
  border-radius: 50%;
}

.slick-active button {
  background-color: #571E84;
}

.slider-arrow {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.slider-arrow:hover path {
  fill: #571E84;
  transition: 0.3s;
}

.slider-next {
  right: -40px;
}

.slider-prev {
  left: -40px;
}

.fadeblock {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  z-index: 3;
  transition: top 1s;
}
.fadeblock.active {
  top: 0;
}

.form {
  padding: 30px 70px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: #1f1e1b;
  border-radius: 25px;
}
.form__item {
  position: relative;
}
.form__item:not(:last-child) {
  margin-bottom: 50px;
}
.form__fake-placeholder {
  position: absolute;
  transform: translateY(-50%);
  left: 20px;
  top: 50%;
  font-size: 20px;
  background: #1f1e1b;
}
.form__fake-placeholder.focus {
  top: 0;
}
.form__input {
  max-width: 800px;
  width: 100%;
  background-color: transparent;
  height: 100px;
  border-radius: 19px;
  border: 2px solid #571E84;
}
.form__input--message {
  resize: none;
}
.form__wrapper-submit {
  text-align: center;
}
.form__submit {
  padding: 0 130px;
  background-color: #571E84 !important;
  border-radius: 19px;
  border: 1px solid #571E84;
  color: #f0e3ca;
  line-height: 77px;
  font-size: 40px;
  letter-spacing: 0.8px;
}

.wrapper-personal-data {
  margin-bottom: 35px;
  text-align: center;
}

.real-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.fake-checkbox {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 31px;
  border: 2px solid #571E84;
  border-radius: 7px;
  vertical-align: middle;
}
.fake-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -55%) scale(0);
  display: inline-block;
  width: 38px;
  height: 31px;
  background-image: url(/img/icon/OK.svg);
  background-size: cover;
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .fake-checkbox::before {
  transform: translate(-40%, -55%) scale(1);
}

.law-text {
  font-size: 18px;
}

.law-link {
  color: #571E84 !important;
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */