.skill-card{
    width: 200px;
    height: 300px;
    flex-shrink: 0;

    &__front,
    &__back{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s;
    }

    &__front{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
        padding-top: 59px;
        background-color: $bgCart;
        border-radius: 10px;

        @media (max-width:661px) {
            flex-direction: row;
            column-gap: 16px;
            padding-bottom: 14px;
            padding-top: 14px;
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__back{
        position: absolute;
        color: rgb(255, 255, 255);
        background-color: rgba(70, 18, 155, 0.616);
        transform: perspective(600px) rotateY(180deg);
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }

    &.active{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg) !important;
        z-index: 3;
        min-width: 500px;
        min-height: 400px;
        @media (max-width:661px) {
            min-width: 90%;
            min-height: 50vh;
        };

        
    }
    
    &.active &__front{
        transform: perspective(600px) rotateY(-180deg);
    }
    
    &.active &__back{
        transform: perspective(600px) rotateY(0deg);
    }

    &__close{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        transition: 1s;
        &:hover{
            transform: rotate(540deg);
        };
    };
    

    @media (max-width:661px) {
        width: 285px;
        height: 60px;
    }

    .skill-card__image{
        @media (max-width:661px) {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            margin-bottom: 0;
            
            svg{
                width: 32px;
                height: 32px;
            }
        }
    }
    .context-button{
        min-width: 157px;
    }

    &__image-item{
        transition: fill 500ms ;
    }

    &__image{
        margin-bottom: 15px;
    }

    &:hover{
        .skill-card__image-item{
            transition: fill 500ms ;
        }
        .skill-card__image-item--html{
            fill: #FC490B;
        }
        .skill-card__image-item--css{
            fill: #2196F4
        }
        .skill-card__image-item--js{
            fill: #FFDF00;
        }
        .skill-card__image-item--scss{
            fill: #CA669B;
        }
        .skill-card__image-item--git{
            fill: #F25234;
        }
        .context-button{
            transition: border-color 500ms;
        }
        .context-button--css{
            border-color: #2196F4;
        }
        .context-button--html{
            border-color: #FC490B;
        }
        .context-button--js{
            border-color: #FFDF00;
        }
        .context-button--scss{
            border-color: #CA669B;
        }
        .context-button--git{
            border-color: #F25234;
        }
    }
    &__action{
        
    }
    &__discription{
        font-family: 'Roboto Mono', monospace;
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}
