.footer{
    padding-bottom: 64px;
    padding-top: 64px;
}
.footer__content{
    display: flex;
    column-gap: 64px;
    justify-content: center;

    @media (max-width:1244px) {
        flex-direction:column ;
        align-items: center;
        row-gap: 64px;
    }

    @media (max-width:661px) {
        row-gap: 74px;
    }
}
.footer__copyright{
    max-width: 400px;

    @media (max-width:1244px) {
        max-width: 80%;
        text-align: center;
    }
}
.footer__copyright-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
}
